Service References/ServiceReference1/CeusService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://svrappdev03/CEUS-WCF/CeusService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="SystemLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SystemLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SystemLoginResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserURLEncode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="userObj" nillable="true" type="q3:User" />
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserURLEncodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserURLEncodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserURLDecode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="txt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserURLDecodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="UserURLDecodeResult" nillable="true" type="q4:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserURLDecodeWithDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="txt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="detail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserURLDecodeWithDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="UserURLDecodeWithDetailResult" nillable="true" type="q5:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogStamp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="obj" nillable="true" type="q6:LoginLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogStampResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogStampResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAddFromAD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="admPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="objUser" nillable="true" type="q7:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserAddFromADResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserAddFromADResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PositionAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="obj" nillable="true" type="q8:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PositionAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="PositionAddResult" nillable="true" type="q9:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>