Service References/ServiceReference1/CeusService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CeusService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://svrappdev03/CEUS-WCF/CeusService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://svrappdev03/CEUS-WCF/CeusService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://svrappdev03/CEUS-WCF/CeusService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICeusService_SystemLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemLogin" />
  </wsdl:message>
  <wsdl:message name="ICeusService_SystemLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ICeusService_UserURLEncode_InputMessage">
    <wsdl:part name="parameters" element="tns:UserURLEncode" />
  </wsdl:message>
  <wsdl:message name="ICeusService_UserURLEncode_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserURLEncodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICeusService_UserURLDecode_InputMessage">
    <wsdl:part name="parameters" element="tns:UserURLDecode" />
  </wsdl:message>
  <wsdl:message name="ICeusService_UserURLDecode_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserURLDecodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICeusService_UserURLDecodeWithDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:UserURLDecodeWithDetail" />
  </wsdl:message>
  <wsdl:message name="ICeusService_UserURLDecodeWithDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserURLDecodeWithDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ICeusService_LogStamp_InputMessage">
    <wsdl:part name="parameters" element="tns:LogStamp" />
  </wsdl:message>
  <wsdl:message name="ICeusService_LogStamp_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogStampResponse" />
  </wsdl:message>
  <wsdl:message name="ICeusService_UserAddFromAD_InputMessage">
    <wsdl:part name="parameters" element="tns:UserAddFromAD" />
  </wsdl:message>
  <wsdl:message name="ICeusService_UserAddFromAD_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserAddFromADResponse" />
  </wsdl:message>
  <wsdl:message name="ICeusService_PositionAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:PositionAdd" />
  </wsdl:message>
  <wsdl:message name="ICeusService_PositionAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:PositionAddResponse" />
  </wsdl:message>
  <wsdl:portType name="ICeusService">
    <wsdl:operation name="SystemLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ICeusService/SystemLogin" message="tns:ICeusService_SystemLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICeusService/SystemLoginResponse" message="tns:ICeusService_SystemLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserURLEncode">
      <wsdl:input wsaw:Action="http://tempuri.org/ICeusService/UserURLEncode" message="tns:ICeusService_UserURLEncode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICeusService/UserURLEncodeResponse" message="tns:ICeusService_UserURLEncode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserURLDecode">
      <wsdl:input wsaw:Action="http://tempuri.org/ICeusService/UserURLDecode" message="tns:ICeusService_UserURLDecode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICeusService/UserURLDecodeResponse" message="tns:ICeusService_UserURLDecode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserURLDecodeWithDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/ICeusService/UserURLDecodeWithDetail" message="tns:ICeusService_UserURLDecodeWithDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICeusService/UserURLDecodeWithDetailResponse" message="tns:ICeusService_UserURLDecodeWithDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogStamp">
      <wsdl:input wsaw:Action="http://tempuri.org/ICeusService/LogStamp" message="tns:ICeusService_LogStamp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICeusService/LogStampResponse" message="tns:ICeusService_LogStamp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserAddFromAD">
      <wsdl:input wsaw:Action="http://tempuri.org/ICeusService/UserAddFromAD" message="tns:ICeusService_UserAddFromAD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICeusService/UserAddFromADResponse" message="tns:ICeusService_UserAddFromAD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PositionAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/ICeusService/PositionAdd" message="tns:ICeusService_PositionAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICeusService/PositionAddResponse" message="tns:ICeusService_PositionAdd_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICeusService" type="tns:ICeusService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SystemLogin">
      <soap:operation soapAction="http://tempuri.org/ICeusService/SystemLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserURLEncode">
      <soap:operation soapAction="http://tempuri.org/ICeusService/UserURLEncode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserURLDecode">
      <soap:operation soapAction="http://tempuri.org/ICeusService/UserURLDecode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserURLDecodeWithDetail">
      <soap:operation soapAction="http://tempuri.org/ICeusService/UserURLDecodeWithDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogStamp">
      <soap:operation soapAction="http://tempuri.org/ICeusService/LogStamp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAddFromAD">
      <soap:operation soapAction="http://tempuri.org/ICeusService/UserAddFromAD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PositionAdd">
      <soap:operation soapAction="http://tempuri.org/ICeusService/PositionAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CeusService">
    <wsdl:port name="BasicHttpBinding_ICeusService" binding="tns:BasicHttpBinding_ICeusService">
      <soap:address location="http://svrappdev03/CEUS-WCF/CeusService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>